*{
    border:0;
    padding:0;
 
}

html, body{
    overflow: hidden;

    height:100%;
    width:100%;
    background-color:black;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}


.instruction{

   
    color:orangered;
    display:flex;
    position:absolute;
    width:90%;
    height:40%;
     top:5%;
    left:5%;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-image:url("../images/bg1.png"); */
    


}
.logo{
    background-image:url('./../images/logo.gif');
    width:42%;
    height:40%;
    top:-22%;
    left:0%;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.step{ 
 
    
    display:flex;
    position:absolute;
    width:90%;
    height:90%;
    /* border:solid 1px gray; */
    top:5%;
    left:5%;
    /* transform:translate(-50%,-50%); */
    align-items: center;
    justify-content: center;
     
}

.step0{
    
background-color:black;
    /* background-image:url('../images/splashBG.png'); */

}

.step1{  
   
    /* background-image:url('../images/workStation1.png'); */

}
.step2{  
   
    background-image:url('../images/hang.png');

}


.team, p{
    width:300px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;

    position:absolute;
top:70px;
left:40px;
}


nav {
    position:fixed;
    margin-top:11%;
    display: grid;
    grid-template-columns: repeat(5);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    background-color:rgba(20,20,20,.7);
   


}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    
    margin-left:2em;
    text-align: center;
    display: inline;
    float: left;

}

.nav ul li a {
    
    display: block;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color: #ff93b7
}


.nav ul li:hover{
    
        color: #ffffff
}





.pigs {display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 4%;
    margin: 10px;
    
   
}


.pig{
    /* border:1px solid white; */

    height: 160px;
    width: 200px;

}
#pig1 {
  
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig1.png");

    background-size:cover;

}

#pig2 {

    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig2.png");
   
    background-size:cover;
}

#pig3 {
   
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig2.png");

    background-size:cover;
}

#pig0 {
  
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig1.png");
    
    background-size:cover;
}


.locker{
    height:112px;
    width:85px;
    position:absolute;
    z-index: 10;
    top:10%;
    left:45%;
    background-repeat:no-repeat;
    background-image:url('./../images/locker.png');
}
.pigInfo{
    border:1px solid orange;
    color:orangered;
    display:flex;
    position:absolute;
    width:90%;
    height:40%;
     top:5%;
    left:5%;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;


}
#t{
    color:greenyellow;
}

#processing{
    height:100px;
    width:100px;
    border:1px solid red;
}
.tools{
    float:right;
    z-index:11;
    margin-top:66px;
    margin-right:260px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:orangered;

}


.pig-portrait1{
    background-image:url('../images/pig3.png');
    height:256px;
    width:256px;
    background-size:cover;
    top:0%;
    left:0%;

}


.pig-portrait2{
    position: absolute;
    background-image:url('../images/pig3.png');
    height:450px;
    width:500px;
    background-size:cover;
    top:50%;
    left:50%;
     transform:translate(-50%,-50%);
    
}
.confirmation-panel{

    border:3px solid green;
    background-image:url(../images/bg1.png);
    color:white;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 500;
   padding:50px;
}

button{
    margin:10px;
    padding:10px;
}



.hidden{
    display:none !important;
    
}


.slaughterView{
    border:1px solid green;
    height:98%;
    width: 98%;

    align-content: center;
    align-items: center;
    justify-content: center;

}

/**************/

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

.fade-out {
    opacity: 1;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity .5s linear;
  }

  .show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 2s, opacity .5s linear;
  }
  
  /*
  DROP DOWN MENU STYLE
  */

  .list {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-transform: uppercase;
    position: absolute;
    margin-left: 90px;
    margin-top: -280px;
    top: 55%;
    z-index: 500;

  }
  
  .list a {
    display: block;
    color: rgb(0, 0, 0);
  }
  
  .list a:hover {
    text-indent: 20px;
  }
  
  .list dt, .list dd {
    text-indent: 10px;
    line-height: 55px;
    background: rgb(219, 154, 123);
    margin: 0;
    height: 55px;
    width: 270px;
    color: rgb(0, 0, 0);
  }
  
  .list dt {
    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);
  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 15px;
  }
  
  .list dd {
    border-top: 1px dashed rgba(255,255,255,0.3);
    line-height: 35px;
    font-size: 11px;
    height: 35px;
    margin: 0;
  }






  /* /////////ANIMATIONS/////////// */