*{
    border:0;
    padding:0;
 
}

html, body{
    overflow: hidden;

    height:100%;
    width:100%;
    background-color:black;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo{
    background-image:url('./../images/logo.gif');
    width:40%;
    height:35%;
    top:-22%;
    left:0%;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.step{ 
 
    
    display:flex;
    position:absolute;
    width:90%;
    height:90%;
    border:solid 1px gray;
    top:5%;
    left:5%;
    /* transform:translate(-50%,-50%); */
    align-items: center;
    justify-content: center;
     
}

.step0{
    
background-color:black;
    /* background-image:url('../images/splashBG.png'); */

}

.step1{  
   
    /* background-image:url('../images/workStation1.png'); */

}
.step2{  
   
    background-image:url('../images/hang.png');

}


.team, p{
    width:300px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;

    position:absolute;
top:70px;
left:40px;
}


nav {
    position:fixed;
    margin-top:11%;
    display: grid;
    grid-template-columns: repeat(5);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    background-color:rgba(20,20,20,.7);
   


}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    
    margin-left:2em;
    text-align: center;
    display: inline;
    float: left;

}

.nav ul li a {
    
    display: block;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color: #ff93b7
}


.nav ul li:hover{
    
        color: #ffffff
}





.pigs {display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 50%;
    width: 79%;
    position: absolute;
    top: 50%;
    left: 4%;
    margin: 10px;
    
   
}

.pig1 {
  
    height: 200px;
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig1.png");

    background-size:cover;

}

.pig2 {
    height: 200px;
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig2.png");
   
    background-size:cover;
}

.pig3 {
    height: 200px;
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig2.png");

    background-size:cover;
}

.pig4 {
    height: 200px;
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./../images/pig1.png");
    
    background-size:cover;
}


.locker{
    height:112px;
    width:85px;
    position:absolute;
    z-index: 10;
    top:10%;
    left:45%;
    background-repeat:no-repeat;
    background-image:url('./../images/locker.png');
}
.pigInfo{
    border:1px solid orange;
    color:orangered;
    display:flex;
    position:absolute;
    width:90%;
    height:40%;
     top:5%;
    left:5%;
    /* transform:translate(-50%,-50%); */
    align-items: center;
    justify-content: center;


}
#t{
    color:greenyellow;
}

.tools{
    float:right;
    z-index:11;
    margin-top:66px;
    margin-right:260px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:orangered;

}









.hidden{
    display:none !important;
    
}




/**************/

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity .5s linear;
  }
